
.calculator-box{
    display: grid;
    background-color: rgb(220, 217, 217);
    width: 240px;
    height: 320px;
    margin: auto;
    justify-content: center;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 100px 50px 50px 50px 50px;
    border-radius: 15px;
}

.calculator-display{
    height: 60px;
    width: auto;
    background-color: rgb(227, 242, 251);
    grid-column: 1 / 5;
    margin: auto 0px auto 0px;
}

.equals-button{
    background-color: rgb(106, 169, 106);
    grid-column: 4;
    grid-row: 6 / 4;
}

.clear-button{
    background-color: rgb(192, 119, 119);
    grid-column: 4;
    grid-row: 3;
}

