
.calculator-history-container{
    background-color: rgb(205, 203, 203);
    text-align: center;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
    overflow-wrap: break-word;
    max-height: 300px;
    overflow: auto;
}

.calculator-history-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.calculator-history-list-items{
    border-top: solid black 1px;
}

@media screen and (max-width: 800px){
    .calculator-history-container{
        margin-bottom: 20px;
    }
}