
.footer{
    background-color: rgb(174, 209, 224);
    text-align: center;
}

.footer p{
    padding: 8px;
    margin: 0;
}

.footer a{
    color: rgb(0, 0, 0);
}

@media screen and (min-width: 700px) {
    .footer{
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50px;
    }
}

@media screen and (min-width: 800px) {
    .footer{
        width: 800px;
    }
}